<?xml version="1.0" encoding="utf-8"?>
<report xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <table>
    <columns>
      <column name="cost" />
      <column name="impressions" />
      <column name="revcpc" />
      <column name="convRate" />
      <column name="click" />
    </columns>
    <rows>
      <row campaignID="91450" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="9" impressions="1448" revcpc="0.10" cost="0.90" convRate="0.00" />
      <row campaignID="91450" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="1310" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="91450" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="266" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="125514" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="13009" impressions="697185" revcpc="0.09" cost="1170.83" convRate="3.75" />
      <row campaignID="125514" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="1848" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="125514" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="26" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135751" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="33" impressions="1995" revcpc="0.05" cost="1.65" convRate="30.30" />
      <row campaignID="135751" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135751" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="1" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135752" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="753" impressions="39109" revcpc="0.05" cost="37.72" convRate="11.42" />
      <row campaignID="135752" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="21" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135752" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="32" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="0" impressions="34" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="1" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139239" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="10" impressions="209" revcpc="0.01" cost="0.10" convRate="10.00" />
      <row campaignID="139239" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139239" dateTimePosix="1513555200" dateTime="2017-12-18" categoryID="0" categoryName="unknown" click="0" impressions="1" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="91450" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="10" impressions="335" revcpc="0.10" cost="1.00" convRate="20.00" />
      <row campaignID="91450" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="0" impressions="438" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="91450" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="94" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="125514" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="4616" impressions="384692" revcpc="0.09" cost="415.44" convRate="1.43" />
      <row campaignID="125514" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="1" impressions="970" revcpc="0.09" cost="0.09" convRate="0.00" />
      <row campaignID="125514" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="3" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135751" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="4" impressions="378" revcpc="0.05" cost="0.20" convRate="50.00" />
      <row campaignID="135751" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135751" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135752" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="154" impressions="9495" revcpc="0.05" cost="7.70" convRate="3.25" />
      <row campaignID="135752" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="0" impressions="7" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="135752" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="4" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="0" impressions="6" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139236" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139239" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="804058292" categoryName="Kıyafet ve Aksesuarlar                            " click="2" impressions="51" revcpc="0.01" cost="0.02" convRate="0.00" />
      <row campaignID="139239" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="-1" categoryName="others" click="0" impressions="0" revcpc="0.00" cost="0.00" convRate="0.00" />
      <row campaignID="139239" dateTimePosix="1513641600" dateTime="2017-12-19" categoryID="0" categoryName="unknown" click="0" impressions="10" revcpc="0.00" cost="0.00" convRate="0.00" />
    </rows>
    <totals>
      <subtotals>
        <subtotal dateTimePosix="1513555200" dateTime="2017-12-18" click="13814" impressions="743486" revcpc="0.09" cost="1211.20" convRate="4.40" />
        <subtotal dateTimePosix="1513641600" dateTime="2017-12-19" click="4787" impressions="396483" revcpc="0.09" cost="424.45" convRate="1.65" />
      </subtotals>
      <grandtotal click="18601" impressions="1139969" revcpc="0.09" cost="1635.65" convRate="3.69" />
    </totals>
  </table>
</report>